

<!DOCTYPE html>
<html lang="en">


{% load static %}
<head> 

    <!-- Basic Page Needs
    ================================================== -->
    <title>Courseplus Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Courseplus is - Professional A unique and beautiful collection of UI elements">

    <!-- Favicon -->
    <link href="{% static 'images/favicon.png' %}" rel="icon" type="image/png">

    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/icons.cs' %}s">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'css/tailwind.min.css '%}" rel="stylesheet">

</head>

<body>
    <!--  Header  -->
    {% include "./header.html" %}

    <div id="wrapper" class="horizontal">          
         {% block slideshow %} {% endblock slideshow %}         
    </div>
    
    
    <!-- footer -->
    {% include "./footer.html" %}

           
    
    <!-- Javascript
    ================================================== -->
    <script src="{% static 'js/jquery-3.6.0.min.js'%}" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
   <script src="{%static 'cdn.jsdelivr.net/npm/uikit%403.7.6/dist/js/uikit.min.js'%}"></script>
    <script src="{% static 'js/uikit.js' %}"></script>
    <script src="{% static 'js/tippy.all.min.js' %}"></script>
    <script src="{% static 'js/simplebar.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/ionicons.js'%}"></script>
</body>


</html>
