{% load static %}

<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="light" data-sidebar-size="lg">


<head>

    <meta charset="utf-8" />
    <title>Dashboard | Velzon - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'admin/images/favicon.ico' %}">
    <!-- Sweet Alert css-->
    <link href="assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    <!-- jsvectormap css -->
    <link href="{% static 'admin/libs/jsvectormap/css/jsvectormap.min.css' %}" rel="stylesheet" type="text/css" />

    <!--Swiper slider css-->
    <link href="{% static 'admin/libs/swiper/swiper-bundle.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Layout config Js -->
    <script src="{% static 'admin/js/layout.js' %}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'admin/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'admin/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'admin/css/app.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{% static 'admin/css/custom.min.css' %}" rel="stylesheet" type="text/css" />


</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        {% include "./header.html" %}
        <!-- ========== App Menu ========== -->
        {% include "./sidebar.html" %}
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        {% block dashboard %}
        
        {% endblock dashboard %}
        {% block categories %}
        
        {% endblock categories %}
        {% block courses %}
        
        {% endblock courses %}
        {% block companies %}
        
        {% endblock companies %}
        {% block enquiry %}
        
        {% endblock enquiry %}
        {% block enrollments %}
        
        {% endblock enrollments %}
         
        {% include "./footer.html" %}
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

    <div class="customizer-setting d-none d-md-block">
        <div class="btn-primary btn-rounded shadow-lg btn btn-icon btn-lg p-2" data-bs-toggle="offcanvas" data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
            <i class='mdi mdi-spin mdi-cog-outline fs-22'></i>
        </div>
    </div>

    <!-- Theme Settings -->
    <div class="offcanvas offcanvas-end border-0" tabindex="-1" id="theme-settings-offcanvas">
    {% include "./themecustomize.html" %}
    </div>

    <!-- JAVASCRIPT -->
    <script src="{% static 'admin/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'admin/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'admin/libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'admin/libs/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'admin/js/pages/plugins/lord-icon-2.1.0.js' %}"></script>
    <script src="{% static 'admin/js/plugins.js' %}"></script>

    <!-- prismjs plugin -->
    <script src="{% static 'admin/libs/prismjs/prism.js'%}"></script>
    <script src="{% static 'admin/libs/list.js/list.min.js'%}"></script>
    <script src="{% static 'admin/libs/list.pagination.js/list.pagination.min.js'%}"></script>

    <!-- apexcharts -->
    <script src="{% static 'admin/libs/apexcharts/apexcharts.min.js' %}"></script>

     <!-- listjs init -->
    <script src="{% static 'admin/js/pages/listjs.init.js'%}"></script>

    <!-- Vector map-->
    <script src="{% static 'admin/libs/jsvectormap/js/jsvectormap.min.js' %}"></script>
    <script src="{% static 'admin/libs/jsvectormap/maps/world-merc.js' %}"></script>

    <!--Swiper slider js-->
    <script src="{% static 'admin/libs/swiper/swiper-bundle.min.js' %}"></script>

     <!-- Sweet Alerts js -->
    <script src="{% static 'admin/libs/sweetalert2/sweetalert2.min.js'%}"></script>

    <!-- Dashboard init -->
    <script src="{% static 'admin/js/pages/dashboard-ecommerce.init.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'admin/js/app.js' %}"></script>
</body>


</html>