{% extends "./base.html" %}

{% load static %}
{% block categories %}


                <!--  breadcrumb -->
                <div class="breadcrumb-area justify-between py-0 sm:flex mb-8">
                    <div> 
                        <h3 class="md:text-2xl text-lg font-semibold mb-2"> Courses </h3>
                        <div class="breadcrumb">
                            <ul class="m-0">
                                <li>
                                    <a href="index.html"> <i class="icon-feather-home"></i> </a>
                                </li>
                                <li>
                                    <a href="index.html">Dashboard</a>
                                </li> 
                                <li class="active">
                                    <a href="#">Categories</a>
                                </li>
                            </ul> 
                        </div>
                    </div>
                    <div class="bg-white border flex items-center overflow-hidden relative rounded-lg self-center">
                        <i class="pl-4 -mr-2 relative uil-search"></i>
                        <input class="flex-1 max-h-9" placeholder="Search" type="text">
                    </div>
                </div>

                <div class="grid md:grid-cols-4 grid-cols-2 gap-5 mb-8" uk-scrollspy="target: > div; cls: uk-animation-scale-up; delay: 50">
                    <div class="bg-white flex p-4 rounded-md shadow sm:p-5 border-t-4 border-green-500 uk-scrollspy-inview uk-animation-scale-up" style="">
                        <div class="flex-1 min-w-0">
                            <div class="text-sm"> Active Courses </div>
                            <div class="font-semibold md:text-2xl text-xl mt-3">  123 </div> 
                        </div>
                        <ion-icon name="checkmark-circle" class="text-3xl text-green-500 md hydrated" role="img" aria-label="checkmark circle"></ion-icon>
                    </div>
                    <div class="bg-white flex p-4 rounded-md shadow sm:p-5 border-t-4 border-yellow-500 uk-scrollspy-inview uk-animation-scale-up" style="">
                        <div class="flex-1 min-w-0">
                            <div class="text-sm"> Pending Courses </div>
                            <div class="font-semibold md:text-2xl text-xl mt-3">  42 </div> 
                        </div>
                        <ion-icon name="bookmark" class="text-3xl text-yellow-500 md hydrated" role="img" aria-label="bookmark"></ion-icon>
                    </div>
                    <div class="bg-white flex p-4 rounded-md shadow sm:p-5 border-t-4 border-blue-500 uk-scrollspy-inview uk-animation-scale-up" style="">
                        <div class="flex-1 min-w-0">
                            <div class="text-sm"> Draft Courses </div>
                            <div class="font-semibold md:text-2xl text-xl mt-3">  32 </div> 
                        </div>
                        <ion-icon name="save" class="text-3xl text-blue-500 md hydrated" role="img" aria-label="save"></ion-icon>
                    </div>
                    <div class="bg-white flex p-4 rounded-md shadow sm:p-5 border-t-4 border-red-500 uk-scrollspy-inview uk-animation-scale-up" style="">
                        <div class="flex-1 min-w-0">
                            <div class="text-sm"> Disable Courses </div>
                            <div class="font-semibold md:text-2xl text-xl mt-3">  12 </div> 
                        </div>
                        <ion-icon name="stop" class="text-3xl text-red-500 md hydrated" role="img" aria-label="stop"></ion-icon>
                    </div>
                </div>
                
                <div class="flex items-center space-x-3 mb-6">
                    <h1 class="font-medium text-xl flex-1"> Manage Courses</h1> 
                    <div class="bg-gray-100 border inline-flex p-0.5 rounded-md space-x-1 text-lg">
                        <a href="courses.html" class="py-1.5 px-2.5 rounded-md" data-tippy-placement="top" title="Grid view"> 
                            <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg> 
                        </a>
                        <a href="#" class="py-1.5 px-2.5 rounded-md bg-white shadow" data-tippy-placement="top" title="List view"> 
                            <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>
                        </a>
                    </div>
                </div>

                <!-- List items -->
                <div class="space-y-2 md:m-0 -mx-3">

                    <!-- item -->
                    <div class="bg-white md:flex font-medium items-center p-4 rounded-md shadow-sm hover:shadow-md md:space-x-5 relative">

                        <div class="rounded-md overflow-hidden md:relative md:inset-0 absolute top-3 left-2 w-12 h-12 md:h-16 md:w-24 shadow border"> 
                            <img src="{% static 'images/courses/img-1.jpg'%}" alt="" class="w-full h-full absolute inset-0 object-cover">
                        </div>

                        <div class="flex-1 md:m-0 ml-14"> 
                            <h2 class="font-semibold text-base line-clamp-1"> The Complete JavaScript For Beginners </h2>

                            <div class="flex space-x-3 items-center md:mt-1.5 text-gray-500 font-medium text-sm">
                                <span>JavaScript</span>
                                <div class="sm:block hidden">·</div>
                                <a href="#" class="block"> Stella Johnson </a>
                            </div>

                        </div>
                        
                        <div class="flex md:justify-end justify-between md:m-0 mt-2 md:space-x-10 ml-14">
                            <div>  
                                <div class="text-sm">Enrolled</div>
                                <div class="font-medium md:mt-1 md:text-base"> 253 </div>
                            </div>
                            <div>   
                                <div class="text-sm"> Updated</div>
                                <div class="font-medium md:mt-1 md:text-base"> 15 days ago </div>
                            </div>
                            <div> 
                                <div class="text-sm"> Price</div>
                                <div class="font-medium md:mt-1  md:text-base"> $15.00 </div>
                            </div>
                            <div>
                                <a href="#" class="flex items-center justify-center h-10 w-10 rounded-full hover:bg-gray-100" aria-expanded="false"> 
                                    <ion-icon name="ellipsis-horizontal" class="text-xl"></ion-icon>
                                  </a>
                                  <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden border border-gray-100 dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700 uk-drop" uk-drop="mode: click;pos: bottom-right;animation: uk-animation-slide-bottom-small; offset:5">
                                    <ul class="space-y-1">
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                               <ion-icon name="arrow-redo-outline" class="pr-2 text-lg"></ion-icon> Share Now
                                            </a> 
                                        </li>
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                              <ion-icon name="create-outline" class="pr-2 text-xl"></ion-icon>  Edit item
                                            </a> 
                                        </li>
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                              <ion-icon name="notifications-off-outline" class="pr-2 text-lg"></ion-icon>   Disable notifications
                                            </a> 
                                        </li> 
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                              <ion-icon name="star-outline" class="pr-2 text-xl"></ion-icon>  Add favorites 
                                            </a> 
                                        </li>
                                        <li>
                                          <hr class="-mx-2 my-2 dark:border-gray-800">
                                        </li>
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 text-red-500 hover:bg-red-50 hover:text-red-500 rounded-md dark:hover:bg-red-600">
                                              <ion-icon name="trash-outline" class="pr-2 text-xl"></ion-icon>  Delete
                                            </a> 
                                        </li>
                                      </ul>
                                  </div>
                            </div>
                        </div>

                    </div> 

                    <!-- item -->
                    <div class="bg-white md:flex font-medium items-center p-4 rounded-md shadow-sm hover:shadow-md md:space-x-5 relative">

                        <div class="rounded-md overflow-hidden md:relative md:inset-0 absolute top-3 left-2 w-12 h-12 md:h-16 md:w-24 shadow border"> 
                            <img src="{% static 'images/courses/img-2.jpg'%}" alt="" class="w-full h-full absolute inset-0 object-cover">
                        </div>

                        <div class="flex-1 md:m-0 ml-14"> 
                            <h2 class="font-semibold text-base line-clamp-1">  Learn and Understand AngularJS to become a professional  developer </h2>

                            <div class="flex space-x-3 items-center md:mt-1.5 text-gray-500 font-medium text-sm">
                                <span>Angular</span>
                                <div class="sm:block hidden">·</div>
                                <a href="#" class="block"> John Michael</a>
                            </div>

                        </div>
                        
                        <div class="flex md:justify-end justify-between md:m-0 mt-2 md:space-x-10 ml-14">
                            <div>  
                                <div class="text-sm">Enrolled</div>
                                <div class="font-medium md:mt-1 md:text-base"> 523 </div>
                            </div>
                            <div>   
                                <div class="text-sm"> Updated</div>
                                <div class="font-medium md:mt-1 md:text-base"> 19 days ago </div>
                            </div>
                            <div> 
                                <div class="text-sm"> Price</div>
                                <div class="font-medium md:mt-1  md:text-base"> $49.00 </div>
                            </div>
                            <div>
                                <a href="#" class="flex items-center justify-center h-10 w-10 rounded-full hover:bg-gray-100" aria-expanded="false"> 
                                    <ion-icon name="ellipsis-horizontal" class="text-xl"></ion-icon>
                                  </a>
                                  <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden border border-gray-100 dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700 uk-drop" uk-drop="mode: click;pos: bottom-right;animation: uk-animation-slide-bottom-small; offset:5">
                                    <ul class="space-y-1">
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                               <ion-icon name="arrow-redo-outline" class="pr-2 text-lg"></ion-icon> Share Now
                                            </a> 
                                        </li>
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                              <ion-icon name="create-outline" class="pr-2 text-xl"></ion-icon>  Edit item
                                            </a> 
                                        </li>
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                              <ion-icon name="notifications-off-outline" class="pr-2 text-lg"></ion-icon>   Disable notifications
                                            </a> 
                                        </li> 
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                              <ion-icon name="star-outline" class="pr-2 text-xl"></ion-icon>  Add favorites 
                                            </a> 
                                        </li>
                                        <li>
                                          <hr class="-mx-2 my-2 dark:border-gray-800">
                                        </li>
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 text-red-500 hover:bg-red-50 hover:text-red-500 rounded-md dark:hover:bg-red-600">
                                              <ion-icon name="trash-outline" class="pr-2 text-xl"></ion-icon>  Delete
                                            </a> 
                                        </li>
                                      </ul>
                                  </div>
                            </div>
                        </div>

                    </div> 

                    <!-- item -->
                    <div class="bg-white md:flex font-medium items-center p-4 rounded-md shadow-sm hover:shadow-md md:space-x-5 relative">

                        <div class="rounded-md overflow-hidden md:relative md:inset-0 absolute top-3 left-2 w-12 h-12 md:h-16 md:w-24 shadow border"> 
                            <img src="{% static 'images/courses/img-3.jpg'%}" alt="" class="w-full h-full absolute inset-0 object-cover">
                        </div>

                        <div class="flex-1 md:m-0 ml-14"> 
                            <h2 class="font-semibold text-base line-clamp-1"> Build Responsive Real World Websites </h2>

                            <div class="flex space-x-3 items-center md:mt-1.5 text-gray-500 font-medium text-sm">
                                <span>Web Design</span>
                                <div class="sm:block hidden">·</div>
                                <a href="#" class="block"> Monroe Parker </a>
                            </div>

                        </div>
                        
                        <div class="flex md:justify-end justify-between md:m-0 mt-2 md:space-x-10 ml-14">
                            <div>  
                                <div class="text-sm">Enrolled</div>
                                <div class="font-medium md:mt-1 md:text-base"> 389 </div>
                            </div>
                            <div>   
                                <div class="text-sm"> Updated</div>
                                <div class="font-medium md:mt-1 md:text-base"> 1 month ago </div>
                            </div>
                            <div> 
                                <div class="text-sm"> Price</div>
                                <div class="font-medium md:mt-1  md:text-base"> $42.00 </div>
                            </div>
                            <div>
                                <a href="#" class="flex items-center justify-center h-10 w-10 rounded-full hover:bg-gray-100" aria-expanded="false"> 
                                    <ion-icon name="ellipsis-horizontal" class="text-xl"></ion-icon>
                                  </a>
                                  <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden border border-gray-100 dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700 uk-drop" uk-drop="mode: click;pos: bottom-right;animation: uk-animation-slide-bottom-small; offset:5">
                                    <ul class="space-y-1">
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                               <ion-icon name="arrow-redo-outline" class="pr-2 text-lg"></ion-icon> Share Now
                                            </a> 
                                        </li>
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                              <ion-icon name="create-outline" class="pr-2 text-xl"></ion-icon>  Edit item
                                            </a> 
                                        </li>
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                              <ion-icon name="notifications-off-outline" class="pr-2 text-lg"></ion-icon>   Disable notifications
                                            </a> 
                                        </li> 
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                              <ion-icon name="star-outline" class="pr-2 text-xl"></ion-icon>  Add favorites 
                                            </a> 
                                        </li>
                                        <li>
                                          <hr class="-mx-2 my-2 dark:border-gray-800">
                                        </li>
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 text-red-500 hover:bg-red-50 hover:text-red-500 rounded-md dark:hover:bg-red-600">
                                              <ion-icon name="trash-outline" class="pr-2 text-xl"></ion-icon>  Delete
                                            </a> 
                                        </li>
                                      </ul>
                                  </div>
                            </div>
                        </div>

                    </div>  

                    <!-- item -->
                    <div class="bg-white md:flex font-medium items-center p-4 rounded-md shadow-sm hover:shadow-md md:space-x-5 relative">

                        <div class="rounded-md overflow-hidden md:relative md:inset-0 absolute top-3 left-2 w-12 h-12 md:h-16 md:w-24 shadow border"> 
                            <img src="{% static 'images/courses/img-4.jpg'%}" alt="" class="w-full h-full absolute inset-0 object-cover">
                        </div>

                        <div class="flex-1 md:m-0 ml-14"> 
                            <h2 class="font-semibold text-base line-clamp-1"> Learn Angular Fundamentals to Expert </h2>

                            <div class="flex space-x-3 items-center md:mt-1.5 text-gray-500 font-medium text-sm">
                                <span>Angular</span>
                                <div class="sm:block hidden">·</div>
                                <a href="#" class="block"> Martin Gray </a>
                            </div>

                        </div>
                        
                        <div class="flex md:justify-end justify-between md:m-0 mt-2 md:space-x-10 ml-14">
                            <div>  
                                <div class="text-sm">Enrolled</div>
                                <div class="font-medium md:mt-1 md:text-base"> 620 </div>
                            </div>
                            <div>   
                                <div class="text-sm"> Updated</div>
                                <div class="font-medium md:mt-1 md:text-base"> 2 month ago </div>
                            </div>
                            <div> 
                                <div class="text-sm"> Price</div>
                                <div class="font-medium md:mt-1  md:text-base"> $39.00 </div>
                            </div>
                            <div>
                                <a href="#" class="flex items-center justify-center h-10 w-10 rounded-full hover:bg-gray-100" aria-expanded="false"> 
                                    <ion-icon name="ellipsis-horizontal" class="text-xl"></ion-icon>
                                  </a>
                                  <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden border border-gray-100 dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700 uk-drop" uk-drop="mode: click;pos: bottom-right;animation: uk-animation-slide-bottom-small; offset:5">
                                    <ul class="space-y-1">
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                               <ion-icon name="arrow-redo-outline" class="pr-2 text-lg"></ion-icon> Share Now
                                            </a> 
                                        </li>
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                              <ion-icon name="create-outline" class="pr-2 text-xl"></ion-icon>  Edit item
                                            </a> 
                                        </li>
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                              <ion-icon name="notifications-off-outline" class="pr-2 text-lg"></ion-icon>   Disable notifications
                                            </a> 
                                        </li> 
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                              <ion-icon name="star-outline" class="pr-2 text-xl"></ion-icon>  Add favorites 
                                            </a> 
                                        </li>
                                        <li>
                                          <hr class="-mx-2 my-2 dark:border-gray-800">
                                        </li>
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 text-red-500 hover:bg-red-50 hover:text-red-500 rounded-md dark:hover:bg-red-600">
                                              <ion-icon name="trash-outline" class="pr-2 text-xl"></ion-icon>  Delete
                                            </a> 
                                        </li>
                                      </ul>
                                  </div>
                            </div>
                        </div>

                    </div>  

                    <!-- item -->
                    <div class="bg-white md:flex font-medium items-center p-4 rounded-md shadow-sm hover:shadow-md md:space-x-5 relative">

                        <div class="rounded-md overflow-hidden md:relative md:inset-0 absolute top-3 left-2 w-12 h-12 md:h-16 md:w-24 shadow border"> 
                            <img src="{% static 'images/courses/img-5.jpg' %}" alt="" class="w-full h-full absolute inset-0 object-cover">
                        </div>

                        <div class="flex-1 md:m-0 ml-14"> 
                            <h2 class="font-semibold text-base line-clamp-1"> Learn C sharp for Beginners Crash Course </h2>

                            <div class="flex space-x-3 items-center md:mt-1.5 text-gray-500 font-medium text-sm">
                                <span>C#</span>
                                <div class="sm:block hidden">·</div>
                                <a href="#" class="block"> Jesse Stevens </a>
                            </div>

                        </div>
                        
                        <div class="flex md:justify-end justify-between md:m-0 mt-2 md:space-x-10 ml-14">
                            <div>  
                                <div class="text-sm">Enrolled</div>
                                <div class="font-medium md:mt-1 md:text-base"> 753 </div>
                            </div>
                            <div>   
                                <div class="text-sm"> Updated</div>
                                <div class="font-medium md:mt-1 md:text-base"> 3 mounth ago </div>
                            </div>
                            <div> 
                                <div class="text-sm"> Price</div>
                                <div class="font-medium md:mt-1  md:text-base"> $49.00 </div>
                            </div>
                            <div>
                                <a href="#" class="flex items-center justify-center h-10 w-10 rounded-full hover:bg-gray-100" aria-expanded="false"> 
                                    <ion-icon name="ellipsis-horizontal" class="text-xl"></ion-icon>
                                  </a>
                                  <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden border border-gray-100 dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700 uk-drop" uk-drop="mode: click;pos: bottom-right;animation: uk-animation-slide-bottom-small; offset:5">
                                    <ul class="space-y-1">
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                               <ion-icon name="arrow-redo-outline" class="pr-2 text-lg"></ion-icon> Share Now
                                            </a> 
                                        </li>
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                              <ion-icon name="create-outline" class="pr-2 text-xl"></ion-icon>  Edit item
                                            </a> 
                                        </li>
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                              <ion-icon name="notifications-off-outline" class="pr-2 text-lg"></ion-icon>   Disable notifications
                                            </a> 
                                        </li> 
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                              <ion-icon name="star-outline" class="pr-2 text-xl"></ion-icon>  Add favorites 
                                            </a> 
                                        </li>
                                        <li>
                                          <hr class="-mx-2 my-2 dark:border-gray-800">
                                        </li>
                                        <li> 
                                            <a href="#" class="flex items-center px-3 py-2 text-red-500 hover:bg-red-50 hover:text-red-500 rounded-md dark:hover:bg-red-600">
                                              <ion-icon name="trash-outline" class="pr-2 text-xl"></ion-icon>  Delete
                                            </a> 
                                        </li>
                                      </ul>
                                  </div>
                            </div>
                        </div>

                    </div> 
                    
                </div> 
 
      
{% endblock categories %}