{% extends "./base.html" %}

{% load static %}
{% block categories %}
<div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Courses</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="/courcompadmin">CourComp</a></li>
                                        <li class="breadcrumb-item active">Courses</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Add, Edit & Remove</h4>
                                </div><!-- end card header -->

                                <div class="card-body">
                                    <div id="customerList">
                                        <div class="row g-4 mb-3">
                                            <div class="col-sm-auto">
                                                <div>
                                                    <button type="button" class="btn btn-primary add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i> Add</button>
                                                    <button class="btn btn-soft-danger" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>
                                                </div>
                                            </div>
                                            <div class="col-sm">
                                                <div class="d-flex justify-content-sm-end">
                                                    <div class="search-box ms-2">
                                                        <input type="text" class="form-control search" placeholder="Search...">
                                                        <i class="ri-search-line search-icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="table-responsive table-card mt-3 mb-1">
                                            <table class="table align-middle table-nowrap" id="customerTable">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th scope="col" style="width: 50px;">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                            </div>
                                                        </th>
                                                        <th class="sort" data-sort="sno">Sno</th>
                                                        <th class="sort" data-sort="course_id">Course ID</th>
                                                        <th class="sort" data-sort="course_name">Course Name</th>
                                                        <th class="sort" data-sort="institute_id">Institute ID</th>
                                                        <th class="sort" data-sort="duration">Duration</th>
                                                        <th class="sort" data-sort="course_category">Course Category</th>
                                                        <th class="sort" data-sort="course_through">Course Through</th>
                                                        <th class="sort" data-sort="action">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="list form-check-all">
                                                {% for course in courses %}
                                               
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
                                                            </div>
                                                        </th>
                                                        <td class="sno">{{ forloop.counter}}</td>
                                                        <td class="course_id">{{ course.course_id}}</td>
                                                        <td class="course_name">{{ course.course_name}}</td>
                                                        <td class="institute_id">{{ course.institute_id}}</td>
                                                        <td class="duration">{{ course.duration }} {{ course.duration_type }}</td>
                                                        <td class="course_category">{{ course.course_category}}</td>
                                                        <td class="course_through">{{ course.course_through}}</td>                                                                          
                                                        <td>
                                                            <div class="d-flex gap-2">
                                                                <div class="edit">
                                                                    <button class="btn btn-sm btn-primary edit-item-btn" data-bs-toggle="modal" data-bs-target="#showModal">Edit</button>
                                                                </div>
                                                                <div class="remove">
                                                                    <button class="btn btn-sm btn-success remove-item-btn" data-bs-toggle="modal" data-bs-target="#deleteRecordModal">Remove</button>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            <div class="noresult" style="display: none">
                                                <div class="text-center">
                                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:75px;height:75px">
                                                    </lord-icon>
                                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                                    <p class="text-muted mb-0">We've searched more than 150+ Orders We did not find any
                                                        orders for you search.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-end">
                                            <div class="pagination-wrap hstack gap-2">
                                                <a class="page-item pagination-prev disabled" href="#">
                                                    Previous
                                                </a>
                                                <ul class="pagination listjs-pagination mb-0"></ul>
                                                <a class="page-item pagination-next" href="#">
                                                    Next
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                     
                    

                     

                    <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header bg-light p-3">
                                    <h5 class="modal-title">Add Courses</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                                </div>
                                <form method='post' enctype='multipart/form-data'>
                                    {% csrf_token %}
                                    {% comment %} {{ course_form }} {% endcomment %}
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class = "col-lg-4">

                                                <div class="mb-3">
                                                    <label for="course_id" class="form-label">Course ID</label>
                                                    {% comment %} <input type="text" id="course_id" class="form-control" placeholder="Course ID" required /> {% endcomment %}
                                                    {{ course_form.course_id }}
                                                </div>

                                                <div class="mb-3">
                                                    <label for="institute_id" class="form-label">Institute ID</label>
                                                    {{ course_form.institute_id }}
                                                    {% comment %} <select class="form-control" data-trigger name="institute_id" id="institute_id">
                                                        <option value="">Status</option>                                                       
                                                    </select> {% endcomment %}
                                                </div> 

                                                <div class="mb-3">
                                                    <label for="course_name" class="form-label">Course Name</label>
                                                    {% comment %} <input type="text" id="course_name" class="form-control" placeholder="Course Name" required /> {% endcomment %}
                                                    {{ course_form.course_name }}
                                                </div>

                                                <div class="mb-3">
                                                    <label for="What_you_learn" class="form-label">What Will Learn</label>
                                                    {% comment %} <input type="text" id="What_you_learn" class="form-control" placeholder="What will Learn" required /> {% endcomment %}
                                                    {{ course_form.What_you_learn }}
                                                </div>
                                            </div>

                                            <div class = "col-lg-4">

                                                <div class="mb-3">
                                                    <label for="description" class="form-label">Description</label>
                                                    {% comment %} <input type="text" id="course_id" class="form-control" placeholder="Course ID" required /> {% endcomment %}
                                                    {{ course_form.description }}
                                                </div>

                                                <div class="mb-3">
                                                    <label for="price" class="form-label">Price</label>
                                                    {{ course_form.price }}
                                                    {% comment %} <select class="form-control" data-trigger name="institute_id" id="institute_id">
                                                        <option value="">Status</option>                                                       
                                                    </select> {% endcomment %}
                                                </div> 

                                                <div class="mb-3">
                                                    <label for="duration" class="form-label">Duration</label>
                                                    {% comment %} <input type="text" id="course_name" class="form-control" placeholder="Course Name" required /> {% endcomment %}
                                                    {{ course_form.duration }}
                                                </div>

                                                <div class="mb-3">
                                                    <label for="duration_type" class="form-label">Duration Type</label>
                                                    {% comment %} <input type="text" id="What_you_learn" class="form-control" placeholder="What will Learn" required /> {% endcomment %}
                                                    {{ course_form.duration_type }}
                                                </div>
                                            </div>

                                            <div class = "col-lg-4">

                                                <div class="mb-3">
                                                    <label for="course_through" class="form-label">Course Through</label>
                                                    {% comment %} <input type="text" id="course_id" class="form-control" placeholder="Course ID" required /> {% endcomment %}
                                                    {{ course_form.course_through }}
                                                </div>

                                                <div class="mb-3">
                                                    <label for="course_type" class="form-label">Course Type</label>
                                                    {{ course_form.course_type }}
                                                    {% comment %} <select class="form-control" data-trigger name="institute_id" id="institute_id">
                                                        <option value="">Status</option>                                                       
                                                    </select> {% endcomment %}
                                                </div> 

                                                <div class="mb-3">
                                                    <label for="course_category" class="form-label">Course Category</label>
                                                    {% comment %} <input type="text" id="course_name" class="form-control" placeholder="Course Name" required /> {% endcomment %}
                                                    {{ course_form.course_category }}
                                                </div>

                                                <div class="mb-3">
                                                    <label for="course_banner" class="form-label">Course Banner</label>
                                                    {% comment %} <input type="text" id="What_you_learn" class="form-control" placeholder="What will Learn" required /> {% endcomment %}
                                                    {{ course_form.course_banner }}
                                                </div>  
                                            </div>

                                             
                                        </div>
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <div class="hstack gap-2 justify-content-end">
                                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" id="add-btn">Add Course</button>
                                            <button type="button" class="btn btn-primary" id="edit-btn">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade zoomIn" id="deleteRecordModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mt-2 text-center">
                                        <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:100px;height:100px"></lord-icon>
                                        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                            <h4>Are you sure ?</h4>
                                            <p class="text-muted mx-4 mb-0">Are you sure you want to remove this record ?</p>
                                        </div>
                                    </div>
                                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                                        <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn w-sm btn-primary" id="delete-record">Yes, Delete It!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end modal -->

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Velzon.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design & Develop by Themesbrand
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>  
{% endblock categories %}