<!DOCTYPE html>
<html lang="en">
{% load static %}
<head> 

    <!-- Basic Page Needs
    ================================================== -->
    <title>Courseplus Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Courseplus is - Professional A unique and beautiful collection of UI elements">

    <!-- Favicon -->
    <link href="{% static 'images/favicon.png' %}"rel="icon" type="image/png">

    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'css/tailwind.min.css' %}" rel="stylesheet">
 
   
</head>

<body>

    <div id="wrapper" class="is-verticle admin-panel">

        <!--  Header  -->
        {% include "./header.html" %}

        <!-- Main Contents -->
        <div class="main_content">
 
            <div class="container">

                
                <!-- Dashboard -->
                <div class="md:space-y-8 space-y-4">
                   
                    <div class="md:-mb-3 space-y-2">
                        <h6 class="font-medium"> Welcome John</h6>
                        <h1 class="font-semibold md:text-2xl text-lg"> Dashboard</h1>
                    </div>

                    <!-- Overview -->
                    {% include "./overview.html" %}

                    <!--Earnings  -->
                    {% include "./earnings.html" %}

                    <div class="lg:flex lg:space-x-4">

                        <!-- Latest sales --> 
                        {% include "./latestsales.html" %}
                    
                        <!--Top Courses-->
                        {% include "./topcourses.html" %}

                    </div>

                    <div class="md:flex md:space-x-4">

                        <!-- Popular Instructor -->
                        {% include "./popularinstructor.html" %}
                        
                        <!-- Latest Reviews-->
                        {% include "./latestreviews.html" %}

                    </div>

                </div>


                
 
            </div>
           
            <!-- footer -->
            {% include "./footer.html" %}

        </div>
 

        <!-- sidebar -->
        {% include "./sidebar.html" %}
        
    </div>

 
    <!-- Javascript
    ================================================== -->
    <script src="{% static 'jquery-3.6.0.min.js' %}" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit.js' %}"></script>
    <script src="{% static 'js/tippy.all.min.js' %}"></script>
    <script src="{% static 'js/simplebar.js' %}"></script>
    <script src="{% static 'custom.j' %}s"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'ionicons.js' %}"></script>
 


    
    
    <script src="{% static 'js/chart.min.js' %}"></script>
    <script>
        Chart.defaults.global.defaultFontFamily = "Inter";
        Chart.defaults.global.defaultFontColor = '#888';
        Chart.defaults.global.defaultFontSize = '14';
    
        var ctx = document.getElementById('chart').getContext('2d');
    
        var chart = new Chart(ctx, {
            type: 'line',
    
            // The data for our dataset
            data: {
                labels: ["January", "February", "March", "April", "May", "June"],
                // Information about the dataset
                   datasets: [{
                    label: "Sales",
                    backgroundColor: 'rgba(42,65,232,0.08)',
                    borderColor: '#2a41e8',
                    borderWidth: "3",
                    data: [196,132,215,362,210,252],
                    pointRadius: 5,
                    pointHoverRadius:5,
                    pointHitRadius: 10,
                    pointBackgroundColor: "#fff",
                    pointHoverBackgroundColor: "#fff",
                    pointBorderWidth: "2",
                }]
            },
    
            // Configuration options
            options: {
    
                layout: {
                  padding: 10,
                  },
    
                legend: { display: false },
                title:  { display: false },
    
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: false
                        },
                        gridLines: {
                             borderDash: [6, 10],
                             color: "#d8d8d8",
                             lineWidth: 1,
                        },
                    }],
                    xAxes: [{
                        scaleLabel: { display: false },  
                        gridLines:  { display: false },
                    }],
                },
    
                tooltips: {
                  backgroundColor: '#333',
                  titleFontSize: 13,
                  titleFontColor: '#fff',
                  bodyFontColor: '#fff',
                  bodyFontSize: 13,
                  displayColors: false,
                  xPadding: 10,
                  yPadding: 10,
                  intersect: false
                }
            },
    
    
    });
    
    </script>



</body>
</html>
