{% load static %}

<div class="shadow bg-white rounded-md self-start lg:w-8/12">
    
                            <div class="border-b flex items-center justify-between md:p-5 p-3">
                                <div>
                                    <h2 class="text-lg font-semibold"> Latest sales </h2>
                                </div>
                                <a href="#" class="text-blue-500"> See all </a>
                            </div>
    
                            <div class="lg:max-h-96" data-simplebar>
    
                                <ul class="divide-y px-5">
    
                                    <li class="flex items-start md:space-x-6 space-x-3 md:py-4 py-3">
    
                                        <a href="#">
                                            <div class=" h-12 md:h-16 md:w-24 overflow-hidden relative rounded w-12"> 
                                                <img src="{% static 'images/courses/img-1.jpg' %}" alt="" class="w-full h-full absolute inset-0 object-cover">
                                            </div>
                                        </a>
                                        <div class="flex-1 flex justify-between">
                                            <div class="flex-1">
                                                <a href="#" class="md:text-base font-semibold line-clamp-1"> The Complete JavaScript For Beginners </a>
                                                <div class="flex space-x-3 items-center text-sm md:mt-1.5 text-gray-500">
                                                    <span class="font-semibold text-sm text-blue-500">JavaScript</span>
                                                    <div class="md:block hidden">·</div>
                                                    <span class="font-medium text-sm"> Total Enrolled 212</span>
                                                </div>
                                            </div>
                                            <div class="mb-0 sm:block hidden">
                                                <div class="bg-green-100 text-green-600 font-semibold inline-block mt-3 px-3 py-0.5 rounded-full text-base">$49.<small>00</small> +</div>
                                            </div>
                                        </div>
    
                                    </li>
                                   
                                    <li class="flex items-start md:space-x-6 space-x-3 md:py-4 py-3">
                                        <a href="#">
                                            <div class=" h-12 md:h-16 md:w-24 overflow-hidden relative rounded w-12"> 
                                                <img src="{% static 'images/courses/img-2.jpg' %}" alt="" class="w-full h-full absolute inset-0 object-cover">
                                            </div>
                                        </a>
                                        <div class="flex-1 flex justify-between">
    
                                            <div class="flex-1">
                                                <a href="#" class="md:text-base font-semibold line-clamp-1">  Learn and Understand AngularJS to become a professional  developer</a>
    
                                                <div class="flex space-x-3 items-center text-sm md:mt-1.5 text-gray-500">
                                                    <span class="font-semibold text-sm text-green-500">Angular</span>
                                                    <div class="md:block hidden">·</div>
                                                    <span class="font-medium text-sm"> Total Enrolled 192</span>
                                                </div>
    
                                            </div>
                                            <div class="mb-0 sm:block hidden">
                                                <div class="bg-green-100 text-green-600 font-semibold inline-block mt-3 px-3 py-0.5 rounded-full text-base">$24.<small>00</small> +</div>
                                            </div>
    
                                        </div>
    
                                    </li>
    
                                    <li class="flex items-start md:space-x-6 space-x-3 md:py-4 py-3">
                                        <a href="#">
                                            <div class=" h-12 md:h-16 md:w-24 overflow-hidden relative rounded w-12"> 
                                                <img src="{% static 'images/courses/img-3.jpg' %}" alt="" class="w-full h-full absolute inset-0 object-cover">
                                            </div>
                                        </a>
                                        <div class="flex-1 flex justify-between">
    
                                            <div class="flex-1">
                                                <a href="#" class="md:text-base font-semibold line-clamp-1">  Build Responsive Real World Websites</a>
    
                                                <div class="flex space-x-3 items-center text-sm md:mt-1.5 text-gray-500">
                                                    <span class="font-semibold text-sm text-yellow-500">Web Design</span>
                                                    <div class="md:block hidden">·</div>
                                                    <span class="font-medium text-sm"> Total Enrolled 320</span>
                                                </div>
    
                                            </div>
                                            <div class="mb-0 sm:block hidden">
                                                <div class="bg-green-100 text-green-600 font-semibold inline-block mt-3 px-3 py-0.5 rounded-full text-base">$34.<small>00</small> +</div>
                                            </div>
    
                                        </div>
    
                                    </li>

                                    <li class="flex items-start md:space-x-6 space-x-3 md:py-4 py-3">
    
                                        <a href="#">
                                            <div class=" h-12 md:h-16 md:w-24 overflow-hidden relative rounded w-12"> 
                                                <img src="{% static 'images/courses/img-4.jpg' %}" alt="" class="w-full h-full absolute inset-0 object-cover">
                                            </div>
                                        </a>
                                        <div class="flex-1 flex justify-between">
                                            <div class="flex-1">
                                                <a href="#" class="md:text-base font-semibold line-clamp-1"> Learn Angular Fundamentals to Expert </a>
                                                <div class="flex space-x-3 items-center text-sm md:mt-1.5 text-gray-500">
                                                    <span class="font-semibold text-sm text-blue-500">Angular</span>
                                                    <div class="md:block hidden">·</div>
                                                    <span class="font-medium text-sm"> Total Enrolled 212</span>
                                                </div>
                                            </div>
                                            <div class="mb-0 sm:block hidden">
                                                <div class="bg-green-100 text-green-600 font-semibold inline-block mt-3 px-3 py-0.5 rounded-full text-base">$49.<small>00</small> +</div>
                                            </div>
                                        </div>
    
                                    </li>
                                   
                                    <li class="flex items-start md:space-x-6 space-x-3 md:py-4 py-3">
                                        <a href="#">
                                            <div class=" h-12 md:h-16 md:w-24 overflow-hidden relative rounded w-12"> 
                                                <img src="{% static 'images/courses/img-5.jpg' %}" alt="" class="w-full h-full absolute inset-0 object-cover">
                                            </div>
                                        </a>
                                        <div class="flex-1 flex justify-between">
    
                                            <div class="flex-1">
                                                <a href="#" class="md:text-base font-semibold line-clamp-1"> Learn C sharp for Beginners Crash Course</a>
    
                                                <div class="flex space-x-3 items-center text-sm md:mt-1.5 text-gray-500">
                                                    <span class="font-semibold text-sm text-green-500">C#</span>
                                                    <div class="md:block hidden">·</div>
                                                    <span class="font-medium text-sm"> Total Enrolled 192</span>
                                                </div>
    
                                            </div>
                                            <div class="mb-0 sm:block hidden">
                                                <div class="bg-green-100 text-green-600 font-semibold inline-block mt-3 px-3 py-0.5 rounded-full text-base">$24.<small>00</small> +</div>
                                            </div>
    
                                        </div>
    
                                    </li>
    
                                    <li class="flex items-start md:space-x-6 space-x-3 md:py-4 py-3">
                                        <a href="#">
                                            <div class=" h-12 md:h-16 md:w-24 overflow-hidden relative rounded w-12"> 
                                                <img src="{% static 'images/courses/img-6.jpg' %}" alt="" class="w-full h-full absolute inset-0 object-cover">
                                            </div>
                                        </a>
                                        <div class="flex-1 flex justify-between">
    
                                            <div class="flex-1">
                                                <a href="#" class="md:text-base font-semibold line-clamp-1">Responsive Web Design Essentials Training</a>
    
                                                <div class="flex space-x-3 items-center text-sm md:mt-1.5 text-gray-500">
                                                    <span class="font-semibold text-sm text-yellow-500">HTML</span>
                                                    <div class="md:block hidden">·</div>
                                                    <span class="font-medium text-sm"> Total Enrolled 320</span>
                                                </div>
    
                                            </div>
                                            <div class="mb-0 sm:block hidden">
                                                <div class="bg-green-100 text-green-600 font-semibold inline-block mt-3 px-3 py-0.5 rounded-full text-base">$34.<small>00</small> +</div>
                                            </div>
    
                                        </div>
    
                                    </li> 
                                   
                                </ul>
                    
                            </div>
                    
                        </div>