{% load static %}
<div class="shadow bg-white rounded-md self-start md:w-6/12 mt-5 md:mt-0">
      
                            <div class="flex items-center justify-between border-b py-4 px-6">
                                <div class="flex items-center">
                                    <ion-icon name="star" class="bg-yellow-100 p-1 mr-2 rounded text-yellow-500"></ion-icon>
                                    <h2 class="text-base font-semibold"> Latest Reviews </h2>
                                </div>
                                <a href="#" class="text-blue-500"> See all </a>
                            </div>
                            <div class="md:max-h-96" data-simplebar>

                                <!-- list reviews -->
                                <div class="divide-y px-5">

                                    <!--  single review -->
                                    <div class="flex gap-x-4 py-4 relative">
                                        <img src="{% static 'images/avatars/avatar-5.jpg'%}" alt="" class="rounded-full shadow w-12 h-12">
                                        <div class="flex justify-center items-center absolute right-5 top-6 space-x-1 text-yellow-500">
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star" class="text-gray-200"></ion-icon>
                                        </div>
                                        <div>
                                            <h4 class="text-base m-0 font-semibold"> Jesse Stevens</h4>
                                            <span class="text-gray-700 text-sm"> Instructor </span>
                                            <p class="mt-2 md:ml-0 -ml-16 text-sm leading-6">
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam ut laoreet dolore magna aliquam erat volutpat.. 
                                                <a href="#" class="text-blue-500 ml-2">Read more</a>
                                            </p>
                                        </div>
                                    </div>
                                    
                                    <!--  single review --> 
                                    <div class="flex gap-x-4 py-4 relative">
                                        <img src="{% static 'images/avatars/avatar-4.jpg'%}" alt="" class="rounded-full shadow w-12 h-12">
                                        <div class="flex justify-center items-center absolute right-5 top-6 space-x-1 text-yellow-500">
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                        </div>
                                        <div>
                                            <h4 class="text-base m-0 font-semibold"> Martin Gray</h4>
                                            <span class="text-gray-700 text-sm leading-6"> Student </span>
                                            <p class="mt-2 md:ml-0 -ml-16">
                                                Sediam ut laoreet dolore magna aliquam erat volutpat , morem ipsum dolor sit amet, consectetuer adipiscing elit 
                                                <a href="#" class="text-blue-500 ml-2">Read more</a>
                                            </p>
                                        </div>
                                    </div>
                                
                                    <div class="flex gap-x-4 py-4 relative">
                                        <img src="{% static 'images/avatars/avatar-3.jpg'%}" alt="" class="rounded-full shadow w-12 h-12">
                                        <div class="flex justify-center items-center absolute right-5 top-6 space-x-1 text-yellow-500">
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star" class="text-gray-200"></ion-icon>
                                            <ion-icon name="star" class="text-gray-200"></ion-icon>
                                        </div>
                                        <div>
                                            <h4 class="text-base m-0 font-semibold"> Monroe Parker</h4>
                                            <span class="text-gray-700 text-sm"> Instructor </span>
                                            <p class="mt-2 md:ml-0 -ml-16 text-sm leading-6">
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam ut laoreet dolore magna aliquam erat volutpat.. 
                                                <a href="#" class="text-blue-500 ml-2">Read more</a>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="flex gap-x-4 py-4 relative">
                                        <img src="{% static 'images/avatars/avatar-2.jpg'%}" alt="" class="rounded-full shadow w-12 h-12">
                                        <div class="flex justify-center items-center absolute right-5 top-6 space-x-1 text-yellow-500">
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star" class="text-gray-200"></ion-icon>
                                        </div>
                                        <div>
                                            <h4 class="text-base m-0 font-semibold"> John Michael</h4>
                                            <span class="text-gray-700 text-sm leading-6"> Student </span>
                                            <p class="mt-2 md:ml-0 -ml-16">
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam ut laoreet dolore magna aliquam erat volutpat
                                            </p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                          
                            <div class="relative">
                                <div class="-top-16 absolute bg-gradient-to-t from-white h-16 to-transparent w-full"></div>
                                <a href="#" class="block font-semibold mt-2 pb-6 text-blue-600 text-center"> See all </a>
                            </div>
                            
                        </div>