{% load static %}
<div class="relative" uk-slider="finite: true">
                
                        <div class="uk-slider-container px-1 py-3">
                            <ul class="uk-slider-items uk-child-width-1-3@m uk-child-width-1-2@s uk-grid-small uk-grid">
                            
                                <li>
                                    <div class="bg-white shadow rounded-md">
                                        <div class="flex sm:p-5 p-4">
                                            <div class="flex-1 min-w-0">
                                                <div> Your Balance</div>
                                                <div class="font-semibold md:text-2xl text-xl mt-3"> 
                                                    $642.00 
                                                </div> 
                                                <div class="md:inline-flex items-baseline text-red-500 text-sm hidden font-semibold mt-1"> <i class="icon-feather-arrow-up"></i> 4.4% </div> 
                                            </div>
                                            <ion-icon name="people" class="text-4xl text-white bg-gradient-to-bl to-yellow-400 from-red-300 p-1 rounded-lg text-opacity-90 "></ion-icon>
                                        </div>
                                        <a href="#" class="text-sm space-x-1 bg-gray-50 flex font-medium items-center justify-center py-2.5 rounded-b-md space-x-0 text-gray-600 w-full border-t border-gray-100">
                                            <span>  View Invoice</span>
                                            <ion-icon name="chevron-forward-outline" role="img" class="md hydrated" aria-label="chevron forward outline"></ion-icon>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="bg-white shadow rounded-md">
                                        <div class="flex sm:p-5 p-4">
                                            <div class="flex-1 min-w-0">
                                                <div> Active  Courses</div>
                                                <div class="font-semibold md:text-2xl text-xl mt-3"> 
                                                    1,642 
                                                </div> 
                                                <div class="md:font-medium mt-1 text-blue-400 text-sm"> 32+ This mounth  </div>
                                            </div>
                                            <ion-icon name="book" class="text-4xl text-white bg-gradient-to-bl to-blue-400 from-blue-300 p-1 rounded-lg text-opacity-90 "></ion-icon>
                                        </div>
                                        <a href="#" class="text-sm space-x-1 bg-gray-50 flex font-medium items-center justify-center py-2.5 rounded-b-md space-x-0 text-gray-600 w-full border-t border-gray-100">
                                            <span>  View Courses</span>
                                            <ion-icon name="chevron-forward-outline" role="img" class="md hydrated" aria-label="chevron forward outline"></ion-icon>
                                        </a>
                                    </div>
                                </li> 
                                <li>
                                    <div class="bg-white shadow rounded-md">
                                        <div class="flex sm:p-5 p-4">
                                            <div class="flex-1 min-w-0">
                                                <div> Site Members</div>
                                                <div class="font-semibold md:text-2xl text-xl mt-3"> 
                                                22,642 
                                                </div> 
                                                <div class="md:font-medium text-green-400 text-sm mt-1"> 260+ New Registered  </div>
                                            </div>
                                            <ion-icon name="people" class="text-4xl text-white bg-gradient-to-bl to-green-400 from-green-300 p-1 rounded-lg text-opacity-90 "></ion-icon>
                                        </div>
                                        <a href="#" class="text-sm space-x-1 bg-gray-50 flex font-medium items-center justify-center py-2.5 rounded-b-md space-x-0 text-gray-600 w-full border-t border-gray-100">
                                            <span>  View Users</span>
                                            <ion-icon name="chevron-forward-outline" role="img" class="md hydrated" aria-label="chevron forward outline"></ion-icon>
                                        </a> 
                                    </div>
                                </li>  
    
                            </ul>
    
                            <a class="absolute bg-white bottom-1/2 flex items-center justify-center p-2 -left-4 rounded-full shadow-md text-xl w-9 z-10 dark:bg-gray-800 dark:text-white" href="#" uk-slider-item="previous"> <i class="icon-feather-chevron-left"></i></a>
                            <a class="absolute bg-white bottom-1/2 flex items-center justify-center p-2 -right-4 rounded-full shadow-md text-xl w-9 z-10 dark:bg-gray-800 dark:text-white" href="#" uk-slider-item="next"> <i class="icon-feather-chevron-right"></i></a>
    
                        </div>
                    </div>