{% load static %}
<div class="shadow bg-white rounded-md self-start md:w-6/12">
                            
                            <div class="flex items-center justify-between border-b py-4 px-6">
                                <div class="flex items-center">
                                    <ion-icon name="people" class="bg-blue-100 p-1 mr-2 rounded text-blue-500"></ion-icon>
                                    <h2 class="text-base font-semibold"> Popular Instructor </h2>
                                </div>
                                <a href="#" class="text-blue-500"> See all </a>
                            </div>

                            <!-- Instructor list -->
                            <div class="md:max-h-96" data-simplebar>

                                <!-- single Instructor  -->
                                <div class="flex items-center space-x-4 rounded-md px-5 py-3 hover:bg-gray-50">
                                    <a href="#" class="w-12 h-12 flex-shrink-0 overflow-hidden rounded-full relative">
                                        <img src="{% static 'images/avatars/avatar-1.jpg' %}" class="absolute w-full h-full inset-0 " alt="">
                                    </a>
                                    <div class="flex-1">
                                        <a href="#" class="text-base font-semibold capitalize"> Stella Johnson </a>
                                        <div class="flex space-x-2 items-center text-sm md:mt-1.5 text-gray-500">
                                            <span class="font-medium text-sm"> Courses 34 </span>
                                            <div class="md:block hidden">·</div>
                                            <span class="font-medium text-sm"> Students 23,112 </span>
                                        </div>
                                    </div>
                                    <a href="#" class="lg:flex items-center justify-center h-8 px-3 rounded-md text-sm border font-semibold hidden">
                                        View Profile
                                    </a>
                                </div>

                                <!-- single Instructor  -->
                                <div class="flex items-center space-x-4 rounded-md px-5 py-3 hover:bg-gray-50">
                                    <a href="#" class="w-12 h-12 flex-shrink-0 overflow-hidden rounded-full relative">
                                        <img src="{% static 'images/avatars/avatar-2.jpg' %}" class="absolute w-full h-full inset-0 " alt="">
                                    </a>
                                    <div class="flex-1">
                                        <a href="#" class="text-base font-semibold capitalize"> John Michael </a>
                                        <div class="flex space-x-2 items-center text-sm md:mt-1.5 text-gray-500">
                                            <span class="font-medium text-sm"> Courses 49 </span>
                                            <div class="md:block hidden">·</div>
                                            <span class="font-medium text-sm"> Students 18,420 </span>
                                        </div>
                                    </div>
                                    <a href="#" class="lg:flex items-center justify-center h-8 px-3 rounded-md text-sm border font-semibold hidden">
                                        View Profile
                                    </a>
                                </div>

                                <!-- single Instructor  -->
                                <div class="flex items-center space-x-4 rounded-md px-5 py-3 hover:bg-gray-50">
                                    <a href="#" class="w-12 h-12 flex-shrink-0 overflow-hidden rounded-full relative">
                                        <img src="{% static 'images/avatars/avatar-3.jpg' %}" class="absolute w-full h-full inset-0 " alt="">
                                    </a>
                                    <div class="flex-1">
                                        <a href="#" class="text-base font-semibold capitalize"> Monroe Parker </a>
                                        <div class="flex space-x-2 items-center text-sm md:mt-1.5 text-gray-500">
                                            <span class="font-medium text-sm"> Courses 69 </span>
                                            <div class="md:block hidden">·</div>
                                            <span class="font-medium text-sm"> Students 32,326 </span>
                                        </div>
                                    </div>
                                    <a href="#" class="lg:flex items-center justify-center h-8 px-3 rounded-md text-sm border font-semibold hidden">
                                        View Profile
                                    </a>
                                </div>
                                
                                <!-- single Instructor  -->
                                <div class="flex items-center space-x-4 rounded-md px-5 py-3 hover:bg-gray-50">
                                    <a href="#" class="w-12 h-12 flex-shrink-0 overflow-hidden rounded-full relative">
                                        <img src="{% static 'images/avatars/avatar-4.jpg' %}" class="absolute w-full h-full inset-0 " alt="">
                                    </a>
                                    <div class="flex-1">
                                        <a href="#" class="text-base font-semibold capitalize"> Martin Gray  </a>
                                        <div class="flex space-x-2 items-center text-sm md:mt-1.5 text-gray-500">
                                            <span class="font-medium text-sm"> Courses 45 </span>
                                            <div class="md:block hidden">·</div>
                                            <span class="font-medium text-sm"> Students 22,112 </span>
                                        </div>
                                    </div>
                                    <a href="#" class="lg:flex items-center justify-center h-8 px-3 rounded-md text-sm border font-semibold hidden">
                                        View Profile
                                    </a>
                                </div>
                                
                                <!-- single Instructor  -->
                                <div class="flex items-center space-x-4 rounded-md px-5 py-3 hover:bg-gray-50">
                                    <a href="#" class="w-12 h-12 flex-shrink-0 overflow-hidden rounded-full relative">
                                        <img src="{% static 'images/avatars/avatar-5.jpg' %}" class="absolute w-full h-full inset-0 " alt="">
                                    </a>
                                    <div class="flex-1">
                                        <a href="#" class="text-base font-semibold capitalize"> Jesse Stevens </a>
                                        <div class="flex space-x-2 items-center text-sm md:mt-1.5 text-gray-500">
                                            <span class="font-medium text-sm"> Courses 26 </span>
                                            <div class="md:block hidden">·</div>
                                            <span class="font-medium text-sm"> Students 13,112 </span>
                                        </div>
                                    </div>
                                    <a href="#" class="lg:flex items-center justify-center h-8 px-3 rounded-md text-sm border font-semibold hidden">
                                        View Profile
                                    </a>
                                </div>
                                
                                <!-- single Instructor  -->
                                <div class="flex items-center space-x-4 rounded-md px-5 py-3 hover:bg-gray-50">
                                    <a href="#" class="w-12 h-12 flex-shrink-0 overflow-hidden rounded-full relative">
                                        <img src="{% static 'images/avatars/avatar-1.jpg' %}" class="absolute w-full h-full inset-0 " alt="">
                                    </a>
                                    <div class="flex-1">
                                        <a href="#" class="text-base font-semibold capitalize"> Adrian Mohani </a>
                                        <div class="flex space-x-2 items-center text-sm md:mt-1.5 text-gray-500">
                                            <span class="font-medium text-sm"> Courses 27 </span>
                                            <div class="md:block hidden">·</div>
                                            <span class="font-medium text-sm"> Students 16,212 </span>
                                        </div>
                                    </div>
                                    <a href="#" class="lg:flex items-center justify-center h-8 px-3 rounded-md text-sm border font-semibold hidden">
                                        View Profile
                                    </a>
                                </div>

                            </div>
                        
                          <a href="#" class="block border-t font-semibold py-3 mt-2 text-blue-600 text-center"> See all </a>

                        </div>