{% load static %}
<div class="sidebar">
            <div class="sidebar_inner" data-simplebar>
                
                <ul>
                    <li class="active"><a href="courcompadmin">
                            <ion-icon name="home-outline" class="side-icon"></ion-icon>
                            <span> Dashboard </span>
                        </a>
                    </li>
                    <li><a href="categories">
                            <ion-icon name="play-circle-outline" class="side-icon"></ion-icon>
                            <span> Categories</span>
                        </a>                         
                    </li>
                    <li><a href="categories">
                            <ion-icon name="play-circle-outline" class="side-icon"></ion-icon>
                            <span> Company</span>
                        </a>                         
                    </li>
                    <li><a href="categories">
                            <ion-icon name="play-circle-outline" class="side-icon"></ion-icon>
                            <span> Courses</span>
                        </a>                         
                    </li>
{% comment %}                      
                    <li><a href="setting.html">
                            <ion-icon name="settings-outline" class="side-icon"></ion-icon>
                            <span> Setting</span>
                        </a>
                        <ul>
                            <li><a href="setting.html"> Website Information </a></li>
                            <li><a href="setting.html"> General Configuration </a></li>
                            <li><a href="setting.html"> Social Login </a></li> 
                            <li><a href="setting.html"> Setup payment </a></li> 
                        </ul>
                    </li> {% endcomment %}
                </ul>
                 
 
            </div>

            <div class="side_overly" uk-toggle="target: #wrapper ; cls: is-collapse is-active"></div>
        </div>